@{
  Layout = "_Layout";
}

@using ToDoList.Models;
<!-- model directive -->
@model List<ToDoList.Models.Item>; 

<h1>Items</h1>

<ul>
    <!-- helper method -->
  @foreach(Item item in Model)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li>
  }
</ul>

<!-- helper method -->
<p>@Html.ActionLink("Add new item", "Create")</p>